---
import Layout from "../layouts/Layout.astro";
import ExperienceComponent from "../components/experience/ExperienceComponent.astro";
---
<Layout title="Experience | Sebastián Díaz">
    <div class="w-full h-full">
        <ExperienceComponent />
    </div>
</Layout>