---

import { Badge } from "../ui/badge";
import { Image } from 'astro:assets';

interface Props {
  skill: string;
  image: string;
}

const { skill, image } = Astro.props;

---

<Badge variant="outline">
    <div class="flex flex-row gap-2 items-center p-1">
        <Image src={image} alt={skill} width="25" height="20"/>
        <span>{skill}</span>
    </div>
</Badge>