---

import SoftwareDesign from "./SoftwareDesign.astro";
import { IconCloudSkills } from "./IconCloudSkills";

---
<div id="skills" class="flex flex-col justify-around items-center w-full min-h-full lg:flex-row px-5">
    <IconCloudSkills client:load/>
    <SoftwareDesign />
</div>

