---

import {
    Card,
    CardContent,
} from "../ui/card"
import SkillBadge from "./SkillBadge.astro";
import SoftwareDesign from "./SoftwareDesign.astro";

const skills = [
    {
        name: "JavaScript",
        image: "/icons/javascript.png",
    },
    {
        name: "TypeScript",
        image: "/icons/typescript.png",
    },
    {
        name: "React",
        image: "/icons/react.png",
    },
    {
        name: 'Angular',
        image: '/icons/angular.png',
    },
    {
        name: 'Astro',
        image: '/icons/astro.png',
    },
    {
        name: "Node.js",
        image: "/icons/nodejs.png",
    },
    {
        name: "GraphQL",
        image: "/icons/graphql.png",
    },
    {
        name: "MongoDB",
        image: "/icons/mongodb.png",
    },
    {
        name: "MySql",
        image: "/icons/mysql.png",
    },
    {
        name: "AWS",
        image: "/icons/aws.png",
    },
    {
        name: "Git",
        image: "/icons/git.png",
    },
]

---
<div id="skills" class="grid justify-center items-center w-full h-full gap-5">
    <div class="w-full flex flex-col justify-center items-center gap-5 mt-5 lg:mt-0">
        <h1 class="text-3xl font-bold mb-3">Skills</h1>
        <div class="max-w-80 lg:max-w-2xl">
            <Card>
                <CardContent>
                    <div class="flex flex-wrap gap-4 mt-4">
                        {skills.map((skill, index) => (
                                <SkillBadge skill={skill.name} image={skill.image} />
                        ))}
                    </div>
                </CardContent>
            </Card>
        </div>
    </div>
    <SoftwareDesign />
</div>

