---

import { DesignSkills } from "./DesignSkills";

---

<div class="flex flex-col justify-center items-center lg:flex-row pb-10 lg:pb-0">
    <div>
        <DesignSkills client:load/>
    </div>
</div>