---

import { Image } from 'astro:assets';
import {Button} from "../ui/button";
import {ChevronRight} from "lucide-react";

---

<div class="flex flex-col justify-center items-center">
    <div class="flex flex-col max-w-96">
        <h1 class="scroll-m-20 text-5xl font-extrabold tracking-tight lg:text-5xl">
            Sebastían Díaz
        </h1>
        <h4 class="scroll-m-20 text-2xl tracking-tight">
            Software Engineer
        </h4>
        <p class="text-muted-foreground leading-7 [&:not(:first-child)]:mt-6">
            Developing solutions driven by innovation and dedicated to delivering excellence, aiming to exceed expectations and inspire through these solutions.
        </p>
        <div class="mt-5">
            <a href="/projects">
                <Button variant="outline" >
                    See my projects
                    <ChevronRight className="h-4 w-4 ml-2" />
                </Button>
            </a>
        </div>
    </div>
    <div class="flex gap-4 mt-5 lg:mt-20">
        <a href="https://www.linkedin.com/in/sebastian-diaz-carrasco-b57495209/" target="_blank">
            <Image src="/icons/linkedin-icon.png" alt="Linkedin." width="44" height="44"/>
        </a>
        <a href="https://www.instagram.com/seba_dc6" target="_blank">
            <Image src="/icons/instagram-icon.png" alt="Instagram." width="44" height="44"/>
        </a>
        <a href="https://github.com/sebastiandiaz6" target="_blank">
            <Image src="/icons/github-icon.png" alt="Github." width="44" height="44"/>
        </a>
    </div>
</div>