---
import Layout from "../layouts/Layout.astro";
import Skills from "../components/skills/Skills.astro";
import Experience from "../components/experience/Experience.astro";
import About from "../components/about/About.astro";
---
<Layout title="Experience | Sebastián Díaz">
    <div class="w-full h-full">
        <Experience />
    </div>
</Layout>