---

import { Image } from 'astro:assets';
import Slogan from "./Slogan.astro";

---

<div id="about" class="pt-7 grid grid-cols-1 lg:pt-20 lg:grid-cols-2">
    <div class="flex justify-center items-center lg:hidden h-full">
        <Image src="/logo/Logo.png" alt="Logo." width="300" height="300"/>
    </div>
    <Slogan />
    <div class="hidden lg:flex lg:justify-center lg:items-center h-full">
        <Image src="/logo/Logo.png" alt="Logo." width="500" height="500"/>
    </div>
</div>