---

---

<div class="flex justify-center">
    <div class="max-w-sm lg:max-w-lg">
        <p class="leading-7 mt-3 lg:mt-0 text-sm">
            I have been involved in the world of software development since 2020
            when I started with small projects in React.
            From that day until today, I have created multiple software,
            including mobile apps, web apps, and participation in other projects,
            and my devotion to development has only grown stronger.
            In 2022, I received my degree as a <b>Computer Engineer</b>.
        </p>
        <br>
        <p class="leading-7 [&:not(:first-child)]:mt-6 text-sm">
            Currently, I am working at <b>Dily</b> as a <b>FullStack Developer</b>,
            participating in the entire software development cycle,
            from requirements gathering to development.
            At this moment, what excites me the most is learning more about
            <b>Clean Architectures</b> and best programming practices,
            as they are key to achieving more scalable and maintainable development.
        </p>
        <br>
        <p class="leading-7 [&:not(:first-child)]:mt-6 text-sm">
            My hobbies include spending time with my family and pets (I currently have a dog and a cat),
            as well as reading, watching football, or walking around the city.
        </p>
    </div>
</div>